<html>
<head>
  <title>Snippets for {{username}}</title>
</head>

<body>

{% include "header.html" %}

<h2>Snippets for {{username}}</h2>

{% for snippet in snippets %}
  <div class="snippet">
  {% if editable %}
    <form action="/update_snippet" method="get">

    <h3>Snippets for the week of {{snippet.week|date:"F j, Y"}}
        &nbsp; <input type="submit" value="Save" class="save-button">
        &nbsp; <button class="undo-button">undo</button>
    </h3>

    <input type="hidden" name="week" value="{{snippet.week|date:"m-d-Y"}}">
    <input type="hidden" name="u" value="{{username}}">
    <input type="checkbox" name="private" value="True"
           {% if snippet.private %}checked{% endif %}>
    Snippet is private (only viewable by people in the domain <i>{{domain}}</i>)
    <br>
    <textarea name="snippet" rows="6" cols="80">{{snippet.text}}</textarea>

    </form>
  {% else %}
    <h3>Snippets for the week of {{snippet.week|date:"F j, Y"}}</h3>

    {% if snippet.private %}<font color="#888888">{% endif %}
    <pre>{{snippet.text|urlize}}</pre>
    {% if snippet.private %}</font>{% endif %}
  {% endif %}
  </div>
{% endfor %}

</body>
<script src="javascript/jquery-1.8.2.js"></script>
<script src="javascript/snippets.js"></script>
</html>
