{% autoescape on %}
<html>
<head>
  <title>Snippets for the week of {{view_week|date:"F j, Y"}}</title>
</head>

<body>

{% include "header.html" %}

<h2>
<a href="/weekly?week={{prev_week|date:"m-d-Y"}}">&laquo;</a>
Snippets for the week of {{view_week|date:"F j, Y"}}
<a href="/weekly?week={{next_week|date:"m-d-Y"}}">&raquo;</a>
</h2>

{% for category_and_snippets in categories_and_snippets %}

  <h3> {{category_and_snippets.0}} </h3>

    {% for snippet in category_and_snippets.1 %}
      <p>{{snippet.email}}:</p>
      {% if snippet.private %}<font color="#888888">{% endif %}
      <blockquote><pre>{{snippet.text}}</pre></blockquote>
      {% if snippet.private %}</font>{% endif %}
    {% endfor %}

{% endfor %}

</body>
</html>
{% endautoescape %}
