<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/static/snippets.css">
</head>

<body>

{% if not new_user %}
<div class="header">
<a href="/">Weekly Snippets</a>
<div class="navigation">
<a href="/settings?u={{username}}">user settings</a> |
{% if is_admin %} <a href="/admin/manage_users">manage users (admin)</a> | {% endif %}
<a href="{{logout_url}}">logout</a>
</div>
</div>

{% if message %}
<div class="page-alert"><b>{{message}}</b></div>
{% endif %}

<form action="/weekly" method="get">
  <p>See snippets for the week starting
  <input type="text" name="week" value="{{view_week|iso_date}}">
  <input type="submit" value="View">
  </p>
</form>

<form action="/" method="get">
  <p>See snippets for
  <input type="text" name="u" value="{{username}}">
  <input type="submit" value="View">
  </p>
</form>

<hr>
{% endif %}
