{%- set title='New user' -%}
{% include "header.html" %}


<h2>New User</h2>

<p>We have no records for <strong>{{username}}</strong>.  If you are a new
  user, <a href="/settings?msg=Welcome!+Verify+the+settings+below+and+click+'Save'.&u={{username}}&redirect_to=snippet_entry">verify
  your settings</a> and you can get started writing snippets!</p>

<p>Another possibility is you accidentally logged in as the wrong
  user.  You can <a href="{{login_url}}">switch users</a>,
  or <a href="{{logout_url}}">log out</a> and log back in
  as the correct user.</p>

{% include "footer.html" %}
