{%- block page_header -%}
  {%- set title='User settings for ' + username -%}
  {% include "header.html" %}
{%- endblock page_header -%}

<h1>User settings for {{username}}</h1>

<form action="/update_settings" method="get">

<p><b>Email address</b> (cannot be changed):
<input type="hidden" name="u" value="{{user.email}}">{{user.email}}
</p>

<p><b>Category:</b>
<input type="text" name="category" value="{{user.category}}">
</p>

<p><b>Interpret snippets as
    <a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>
    by default?
  </b>
<input type="radio" name="markdown" value="yes"
       {% if user.uses_markdown %}checked{% endif %}> yes
<input type="radio" name="markdown" value="no"
       {% if not user.uses_markdown %}checked{% endif %}> no
</p>

<p><b>Have snippets be private by default?:</b>
<input type="radio" name="private" value="yes"
       {% if user.private_snippets %}checked{% endif %}> yes
<input type="radio" name="private" value="no"
       {% if not user.private_snippets %}checked{% endif %}> no
</p>

<p><b>Receive reminder emails?:</b>
<input type="radio" name="reminder_email" value="yes"
       {% if user.wants_email %}checked{% endif %}> yes
<input type="radio" name="reminder_email" value="no"
       {% if not user.wants_email %}checked{% endif %}> no
</p>

<p><b>Email addresses of people to view snippets of</b>
(regexp, one per line, "all" for everybody):<br>
(TODO(csilvers): this field is currently ignored)<br>
<textarea name="to_view" rows="4" cols="60">{{wants_to_view}}</textarea>
</p>

<input type="hidden" name="redirect_to" value="{{redirect_to}}">

<input class="button save-button" type="submit" value="Save">

</form>

{% include "footer.html" %}
