{%- set title='Snippets for ' + username -%}
{% include "header.html" %}

<h1>Snippets for {{username}}</h1>

{% for snippet in snippets %}
  <div class="snippet">
  {% if editable %}
    <form action="/update_snippet" method="get">

    <div class="snippet-header">
      <h2>Snippets for the week starting {{snippet.week|readable_date}}</h2>
      <div class="snippet-actions">
        <input type="submit" value="Save" class="button save-button">
        <button class="button undo-button">Clear Changes</button>
        {% if snippet.text == null_snippet_text and snippet.week == one_week_ago %}
        <span class="snippet-alert">Due today!</span>
        {% endif %}
        {% if snippet.text == null_snippet_text and snippet.week == eight_days_ago %}
        <span class="snippet-alert">OVERDUE!</spanf>
        {% endif %}
      </div>
    </div>

    <input type="hidden" name="week" value="{{snippet.week|iso_date}}">
    <input type="hidden" name="u" value="{{username}}">
    {% if user.category == null_category %}
    <div class="snippet-warning">
      <span>
        <strong>WARNING:</strong> Snippet will go in the "{{null_category}}" category.
      </span>
      <a href="/settings?msg=Set+'Category'+below,+then+click+'Save.'&redirect_to=snippet_entry"
         >Set your snippet category!</a>
    </div>
    {% endif %}
    <div class="snippet-setting">
      <label>
        <input type="checkbox" name="private" value="True"
               {% if snippet.private %}checked{% endif %}>
          Make snippet private (only viewable by people in the domain <i>{{domain}}</i>)
      </label>
    </div>
    <div class="snippet-setting">
      <label>
        <input type="checkbox" name="is_markdown" value="True"
               {% if snippet.is_markdown %}checked{% endif %}>
          Snippet is written in <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a>
      </label>
    </div>
    <textarea class="snippet-textarea" name="snippet" rows="6" cols="80">{{snippet.text}}</textarea>
    <div class="snippet-markdown-preview" style="display:none">
      <h3>Snippet preview:</h3>
      <div class="snippet-text-markdown"></div>
    </div>
    </form>
  {% else %}
    <h2>Snippets for the week starting {{snippet.week|readable_date}}</h2>

    {% if snippet.is_markdown %}
    <div class="snippet-text-markdown
                {% if snippet.private %}snippet-text-private{% endif %}"
         >{{snippet.text|safe}}</div>
    {% else %}
    <div class="snippet-text
                {% if snippet.private %}snippet-text-private{% endif %}"
         >{{snippet.text|urlize}}</div>
    {% endif %}
  {% endif %}
  </div>
{% endfor %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script src="static/snippets.js"></script>
<script>
      marked.setOptions({sanitize: true});
      $(".snippet-text-markdown").each(function(i, v) {
         v.innerHTML = marked(v.innerHTML);
      });
</script>

{% include "footer.html" %}
