{%- set title='Snippets for the week starting ' + view_week|readable_date -%}
{% include "header.html" %}

<h2>
<a href="/weekly?week={{prev_week|iso_date}}">&laquo;</a>
Snippets for the week starting {{view_week|readable_date}}
<a href="/weekly?week={{next_week|iso_date}}">&raquo;</a>
</h2>

{% for category_and_snippets in categories_and_snippets %}

  <h3> {{category_and_snippets.0}} </h3>

    {% for snippet in category_and_snippets.1 %}
      <div class="snippet">
      <p>{{snippet.email}}:</p>
      <blockquote>
        {% if snippet.is_markdown %}
        <div class="markdown_snippet
                    {% if snippet.private %}private_snippet{% endif %}"
             >{{snippet.text|safe}}</div>
        {% else %}
        <div class="text_snippet
                    {% if snippet.private %}private_snippet{% endif %}"
             >{{snippet.text|urlize}}</div>
        {% endif %}
      </blockquote>
      </div>
    {% endfor %}

{% endfor %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<script>
      marked.setOptions({sanitize: true});
      $(".markdown_snippet").each(function(i, v) {
         v.innerHTML = marked(v.innerHTML);
      });
</script>

</body>
</html>
